APP_ENV=production
APP_URL=https://convoy.jxjvip.help

CONVOY_HTTP_BIND=127.0.0.1:18181

CONVOY_DB_DATABASE=convoy
CONVOY_DB_USERNAME=convoy
CONVOY_DB_PASSWORD=replace-with-strong-convoy-db-password

CONVOY_REDIS_PASSWORD=replace-with-strong-convoy-redis-password
