COMPOSE_PROJECT_NAME=slothcloud

SLOTH_WEB_PORT=13000
SLOTH_API_PORT=14000
SLOTH_PAYMENTER_PORT=18080

SLOTH_DB_PASSWORD=replace-with-strong-password
SLOTH_DB_ROOT_PASSWORD=replace-with-even-stronger-password

SLOTH_WEB_PUBLIC_URL=https://app.sloth-cloud.example
SLOTH_API_PUBLIC_URL=https://api.sloth-cloud.example
SLOTH_PAYMENTER_PUBLIC_URL=https://billing.sloth-cloud.example

BUILD_HTTP_PROXY=http://127.0.0.1:12334
BUILD_HTTPS_PROXY=http://127.0.0.1:12334
build_http_proxy=http://127.0.0.1:12334
build_https_proxy=http://127.0.0.1:12334
BUILD_NO_PROXY=localhost,127.0.0.1,host.docker.internal,sloth-cloud-paymenter,sloth-cloud-api,sloth-cloud-web,sloth-cloud-db,sloth-cloud-redis,sloth-convoy-web,sloth-convoy-php,sloth-convoy-workers,sloth-convoy-db,sloth-convoy-redis
build_no_proxy=localhost,127.0.0.1,host.docker.internal,sloth-cloud-paymenter,sloth-cloud-api,sloth-cloud-web,sloth-cloud-db,sloth-cloud-redis,sloth-convoy-web,sloth-convoy-php,sloth-convoy-workers,sloth-convoy-db,sloth-convoy-redis

HTTP_PROXY=http://host.docker.internal:12335
HTTPS_PROXY=http://host.docker.internal:12335
http_proxy=http://host.docker.internal:12335
https_proxy=http://host.docker.internal:12335
NO_PROXY=localhost,127.0.0.1,host.docker.internal,sloth-cloud-paymenter,sloth-cloud-api,sloth-cloud-web,sloth-cloud-db,sloth-cloud-redis,sloth-convoy-web,sloth-convoy-php,sloth-convoy-workers,sloth-convoy-db,sloth-convoy-redis
no_proxy=localhost,127.0.0.1,host.docker.internal,sloth-cloud-paymenter,sloth-cloud-api,sloth-cloud-web,sloth-cloud-db,sloth-cloud-redis,sloth-convoy-web,sloth-convoy-php,sloth-convoy-workers,sloth-convoy-db,sloth-convoy-redis
