COMPOSE_PROJECT_NAME=slothcloud

SLOTH_WEB_PORT=13000
SLOTH_API_PORT=14000
SLOTH_PAYMENTER_PORT=18080

SLOTH_DB_PASSWORD=replace-with-strong-password
SLOTH_DB_ROOT_PASSWORD=replace-with-even-stronger-password

SLOTH_WEB_PUBLIC_URL=https://app.sloth-cloud.example
SLOTH_API_PUBLIC_URL=https://api.sloth-cloud.example
SLOTH_PAYMENTER_PUBLIC_URL=https://billing.sloth-cloud.example
SLOTH_CF_ORIGIN_UPSTREAM=http://192.168.16.220:80

SLOTH_BUILD_HTTP_PROXY=http://127.0.0.1:12334
SLOTH_BUILD_HTTPS_PROXY=http://127.0.0.1:12334
SLOTH_BUILD_NO_PROXY=localhost,127.0.0.1,::1,host.docker.internal,192.168.16.220,192.168.16.101,sloth-cloud-paymenter,sloth-cloud-api,sloth-cloud-web,sloth-cloud-db,sloth-cloud-redis,sloth-convoy-web,sloth-convoy-php,sloth-convoy-workers,sloth-convoy-db,sloth-convoy-redis

SLOTH_RUNTIME_HTTP_PROXY=http://host.docker.internal:12335
SLOTH_RUNTIME_HTTPS_PROXY=http://host.docker.internal:12335
SLOTH_RUNTIME_NO_PROXY=localhost,127.0.0.1,::1,host.docker.internal,192.168.16.220,192.168.16.101,sloth-cloud-paymenter,sloth-cloud-api,sloth-cloud-web,sloth-cloud-db,sloth-cloud-redis,sloth-convoy-web,sloth-convoy-php,sloth-convoy-workers,sloth-convoy-db,sloth-convoy-redis
